version: '3.8'

services:
  app:
    build: .
    container_name: servicio_usuario_app
    ports:
      - "8000:8000"
    environment:
      DATABASE_NAME: usuario_db_example
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: db
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: servicio_usuario_db
    restart: always
    environment:
      POSTGRES_DB: usuario_db_example
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
